$pageMaxWidth: 800px;

// color palette
$primaryLight: #629749;
$primaryMain: #33691e;
$primaryDark: #003d00;
$primaryContrastText: #ffffff;
$secondaryLight: #e1ffb1;
$secondaryMain: #aed581;
$secondaryDark: #7da453;
$secondaryContrastText: #000000;
